<article id="<%= dom_id article %>">
  <h1 class="title"><%= article.title %></h1>
  <p class="subtitle"><%= article.latitude %>, <%= article.longitude %></p>
  <p class="content">
    <%= article.content %>
  </p>
</article>
